/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  margin-right: 20px;
  cursor: pointer;
}
.user-actions button {
  margin-left: 10px;
}
.logo img {
    height: 50px;
    width: auto;
}
/* ///////////////////////////////////// */
.exam-section {
    position: relative;
    z-index: 1;
    /* height: 100vh; */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}
.section-title {
    font-weight: 300;
    text-transform: capitalize;
    margin: 15px 0;
}
.section-title h4 {
    font-size: 15px !important;
    font-weight: 400;
    position: relative;
}
.section-title h4::after {
    content: "";
    position: absolute;
    width: 72px;
    border: 1px solid var(--btn-hover);
    opacity: 0.8;
    left: 0;
    bottom: -9px;
}
.section-title p {
    padding-top: 10px;
    font-size: 14px;
}
/* Exam List Components */
.exam-list {
    flex: 1 1 auto;
}
.exam-list h2 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
    text-transform: capitalize;
 }
 /* Exam Item Components */
 .exam-item.card {
    background-color: rgb(0 0 0 / 40%);
    color: #fff;
    /* box-shadow: 4px 5px 9px 0px black; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px 25px;
    border-radius: 5px;
    margin-bottom: 20px;
 }
 .exam-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .exam-info li {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
 }
 .exam-info li p {
    margin-bottom: 0;
 }
 #upcoming-exams .exam-info li:last-child {
    /* display: none; */
 }
 .exam-info .exam-time {
    font-size: 14px;
    font-weight: 500;
 }
 .exam-info .exam-time p .icon {
    margin-right: 8px;
    font-size: 18px;
    vertical-align: top;
 }
 .exam-info .exam-title p:first-child {
    font-weight: 600;
    font-size: 17px;
 }
 .exam-info .exam-title p:last-child {
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
 }
 .exam-info .exam-title p:last-child span {
    color: var(--primary-color);
    font-weight: 400;
    padding-right: 5px;
 }
 .exam-info .exam-title {
    width: 290px;
 }
 .exam-info .exam-level {
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
 }
 .exam-info .exam-score {
    font-size: 18px;
    font-weight: 400;
 }
 .exam-info .exam-score, .exam-level {
    align-self: flex-start;
 }
 .exam-btn {
    text-transform: uppercase;
    padding: 6px 22px;
    width: 136px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    font-weight: 400;
    font-size: 14px;
    transition: .6s;
 }
 .exam-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
 } 
 .btn.disabled, .btn:disabled, fieldset:disabled .btn {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
     opacity: 1;
 }

 #previous-exams .exam-info .exam-score {
    /* display: none; */
 }
 #previous-exams .exam-info li {
    /* flex: 1 1 auto; */
 }
 /* Media Qyery */
 @media (max-width: 992px) {
    .exam-info {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .exam-info .exam-title {
        width: auto;
        padding-bottom: 10px;
     }
     .exam-info .exam-level, .exam-info .exam-score {
        display: none;
     }
     .exam-info .mobile, .exam-info .mobile .exam-level, .exam-info .mobile .exam-score {
        display: block !important;
     }
     .exam-action {
        width: auto;
        justify-content: center
     }
     .exam-action button {
      width: 250px;
     }
     #previous-exams .exam-info .exam-action {
        align-self: center;
     }
}
 @media (max-width: 768px) {
    .exam-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
    .exam-info .exam-time {
        font-size: 16px;
        font-weight: normal;
        padding-bottom: 15px;
    }
    .exam-info .exam-title p:first-child {
        font-weight: normal;
     }
     .exam-info .exam-title p:last-child span {
        font-weight: 500;
     }
     .exam-action {
        width: 100%;
     }
     .exam-action button {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
     }
}
/* Pagination */
nav .pagination {
    --bs-pagination-bg: transparent !important;
    --bs-pagination-border-width: none;
}
nav .pagination .page-link {
    color: var(--primary-color);
    box-shadow: none !important;
    transition: all 0.5s;
}
.pagination .page-link:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.arrow {
    transition: 0.5s;
}
.arrow-right .icon {
    transform: rotate(180deg);
}
.arrow .icon {
    font-size: 25px;
}
.page-item:first-child .page-link:hover, .page-item:last-child .page-link:hover{
    background-color: var(--primary-color);
   
}
.page-item:first-child .page-link:hover .icon, .page-item:last-child .page-link:hover .icon {
    color: #fff;
}
.page-link.disabled, .disabled > .page-link {
   background-color: transparent !important;
   border-color: none !important;
   opacity: 0.6 !important;
 }
 .page-link.active, .active > .page-link {
   background-color: var(--primary-color) !important;
   border-color: var(--primary-color) !important;
   color: #fff !important;
 }
@media (max-width: 992px) {
    .pagination {
        justify-content: center !important;
    }
}